<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% csrf_token %}
      <table>
          <h1><a href="pronouns/"> Pronouns </a></h1>
          <h1><a href="background/upload"> Backgrounds </a></h1>
          <h1><a href="skill/upload"> Skills </a></h1>
          <h1><a href="species/upload"> Species </a></h1>
          <h1><a href="CharClass/upload"> Classes </a></h1>
          <h1><a href="ClassAbility/upload"> Class Abilities</a></h1>
          <h1><a href="Character/upload"> Characters</a></h1>
      </table>
</body>
</html>