{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pronouns</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ pronouns_form|crispy }}
        <button type="submit">Submit</button>
    </form>

    <table>
        <tr>
        <th>Pronouns:</th>
        </tr>
        {% for pronoun in pronoun_objects %}
        <tr>
        <td>{{ pronoun }}</td>
        {% endfor %}
        </tr>
    </table>

    <div>
        <p></p>
        <a href="upload/">Upload a bulk CSV</a>
        <a href="/"> Go Back </a>
    </div>


</body>
</html>