<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% csrf_token %}
    <h1>Name: {{ object.name }}</h1>
    <p>Player: {{ object.player }}</p>
    <p>Attributes: {{ object.attributes }}</p>
    <p>Faction: {{ object.faction }}</p>
    <p>Party: {{ object.party }}</p>
          <form action="{% url 'character_update' pk=object.pk %}">
         <button type="submit">Edit {{ object }}</button>
          </form>
    <a href="{% url 'character_list' %}"> Back to list</a>
</body>
</html>
