<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% csrf_token %}
    <h1>Name: {{ object.name }}</h1>
    {% if object.player %}
    <p>Player: <a href="{% url 'player_detail' object.player.pk %}">{{ object.player }}</a></p>
    {% endif %}

    <p>Attributes: {{ object.attributes }}</p>
    {% if object.faction %}
    <p>Faction:  <a href="{% url 'faction_detail' object.faction.pk %}">{{ object.faction }}</a></p>
    {% endif %}
    {% if object.party %}
    <p>Party: <a href="{% url 'main_party_list' %}"> {{ object.party }}</p>
    {% endif %}
          <form action="{% url 'character_update' pk=object.pk %}">
         <button type="submit">Edit {{ object }}</button>
          </form>
    <a href="{% url 'character_list' %}"> Character list</a>
</body>
</html>